<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="message" class="com.ciq.pojo.GreetingMsg">
		<!-- <property name="id" value="1"></property> -->
		<!-- <property name="name" value="anil"></property> -->

	</bean>
	<bean id="add" class="com.ciq.pojo.Address">
		<property name="id" value="1"></property>
		<property name="city" value="Hyderabad"></property>
		<property name="state" value="TS"></property>
	</bean>

	<bean id="employee" class="com.ciq.pojo.Employee">

		<constructor-arg name="id" value="1"></constructor-arg>
		<constructor-arg name="name" value="ram"></constructor-arg>
		<constructor-arg name="salary" value="134444"></constructor-arg>
		<constructor-arg name="address" ref="add"></constructor-arg>
	</bean>



</beans>